*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  height: 400px;
  background-color: blue;
  max-width: 500px;
  margin: 20px auto;
}

@media(max-width:1280px){
body{
  background-color: yellow;
}

}

@media(max-width:600px){
  body{
    background-color:green;
  }

  .container{
    display: none;
  }
}


/* .pai{
  width: 400px;
  height: 400px;
} */